@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KGChasingCars';
  src: local('KGChasingCars'), url('./assets/fonts/KGChasingCars.ttf'),
    format('truetype');
}

@font-face {
  font-family: 'Saturday';
  src: local('Saturday'), url('./assets/fonts/Saturday.ttf'),
    format('truetype');
}

@font-face {
  font-family: 'DragonSlayer';
  src: local('DragonSlayer'), url('./assets/fonts/DragonSlayer.ttf'),
    format('truetype');
}

@font-face {
  font-family: 'Heavitas';
  src: local('Heavitas'), url('./assets/fonts/Heavitas.ttf'),
    format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./assets/fonts/Roboto.ttf'),
    format('truetype');
}

@font-face {
  font-family: 'Typewriter';
  src: local('Typewriter'), url('./assets/fonts/Typewriter.ttf'),
    format('truetype');
}

@font-face {
  font-family: 'Vintageking';
  src: local('Vintageking'), url('./assets/fonts/Vintageking.ttf'),
    format('truetype');
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.remove-arrow {
  -moz-appearance: textfield;
}
