@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KGChasingCars';
  src: local('KGChasingCars'), url('./assets/fonts/KGChasingCars.ttf'),
    format('truetype');
}

@font-face {
  font-family: 'Saturday';
  src: local('Saturday'), url('./assets/fonts/Saturday.ttf'),
    format('truetype');
}

@font-face {
  font-family: 'DragonSlayer';
  src: local('DragonSlayer'), url('./assets/fonts/DragonSlayer.ttf'),
    format('truetype');
}

@font-face {
  font-family: 'Heavitas';
  src: local('Heavitas'), url('./assets/fonts/Heavitas.ttf'),
    format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./assets/fonts/Roboto.ttf'),
    format('truetype');
}

@font-face {
  font-family: 'Typewriter';
  src: local('Typewriter'), url('./assets/fonts/Typewriter.ttf'),
    format('truetype');
}

@font-face {
  font-family: 'VintageKing';
  src: local('VintageKing'), url('./assets/fonts/VintageKing.ttf'),
    format('truetype');
}

@font-face {
  font-family: 'Vogue';
  src: local('Vogue'), url('./assets/fonts/Vogue.ttf'),
    format('truetype');
}
